body {
    margin: 0;
    padding: 0;
    background-color: #0b1e39;
    font-family: "Inter", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.dashboard {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    background: #1c233a;
    padding: 40px;
    width: 260px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.label {
    font-size: 24px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.value {
    font-size: 70px;
    font-weight: bold;
    margin: 10px 0;
}

.unit {
    font-size: 22px;
    opacity: 0.7;
}

.buttons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 600px;
}

.btn {
    padding: 18px 10px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: 0.2s ease;
}

.btn.green {
    background-color: #16c79a;
}

.btn.green:hover {
    background-color: #12a882;
}

.btn.red {
    background-color: #e74c3c;
}

.btn.red:hover {
    background-color: #c0392b;
}